<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/cart/" method="POST">
        {% csrf_token %}
        <h1>CART</h1>
        {% for x in cartobjs%}
        {{x.title}}<br><br>
    <img src="{{x.image.url}}" height="200" width="150"><br><br>
        {{x.name}}<br><br>
        {{x.price}}<br><br>

        <form action="delete_cartobjs" method="POST">
            {%csrf_token%}
        <a href="/delete_cartobjs/{{x.id}}" >
        <input type="button" value="Remove"></a>
        <p>
            {{msg}}
            </p>  
            
        </form> 
        {% endfor %}
    



    </form>
</body>
</html>