
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="static/CSS/index.css">

</head>
<body>
    <div class="content">
    <p>index page</p>
    </div>
    <div class="group">
    <button id="btn" type="submit"><a href={%url 'signup'%}>signup</a><span></span></button></div>
    <div class="group">
    <button id="btn" type="submit"><a href={%url 'signin'%}>signin</a><span></span></button>
    </div><br>
    <div class="group">
    <button id="btn" type="submit"><a href="signuppage">Supplier Panel</a><span></span></button>
    </div>
    <div class="group">
        <button id="btn" type="submit"><a href="">Admin Panel</a><span></span></button>
        </div>

</body>
</html>

