<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="static/CSS/resetpassword.css">

</head>

<body>
    <form action="resetpassword" method="POST">
        {%csrf_token%}
        <div class="login-form">
        <div class="group">
        <label class="label">UserName</label>
        <input type="text" name="name1" ></div>
        <div class="group">
        <label class="label">New Password</label>
        <input type="password" id="password" name="password" class="input">
        </div>
        <div class="group">
            {{errmsg}}
        <input type="submit" value="Reset" class="input">
        </div>
       
        <div class="content">
        <p><a href="{%url 'signin'%}"><I>SIGN IN</I></a></p>
        <p><a href="{%url 'signinpage'%}"><I>SIGN IN as a Supplier</I></a></p>
        </div>
    </form>
</body>

</html>