{% extends 'partials/base.html' %}
{% block content %}
  {% for data in data %}
  <div class="col-md-3 col-sm-6">
    <div class="product-grid">
    <div class="product-image">
        <a href="#" class="image">
            <img src="{{data.image.url}}" height="200" width="150">
        </a>
        
    </div>
    
       
        <h3 class="title"><a href="#">{{ data.name }}</a></h3>
        <h5 class="title"><a href="#">{{ data.place }}</a></h5>
        <h6 class="title"><a href="#">{{ data.price }}</a></h6>
        
        
        
    </div>
    </div>
    </div>
    </div>
    {% endfor %}
{% endblock  %}


